@import "tailwindcss";

@layer base {
  html,
  body {
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #3f3f46 #09090b;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #09090b;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
    border-radius: 20px;
    border: 2px solid #09090b;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #52525b;
  }
}

/* Prevent zoom on mobile devices by enforcing 16px font size on inputs */
@media screen and (max-width: 768px) {
  input,
  select,
  textarea {
    font-size: 16px !important;
  }
}
